name: Build iOS IPA

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_ios:
    name: Build Flutter iOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get

      - name: Disable Code Signing
        run: |
          echo "CODE_SIGNING_ALLOWED = NO" >> ios/Flutter/Release.xcconfig
          echo "CODE_SIGNING_REQUIRED = NO" >> ios/Flutter/Release.xcconfig
          echo "CODE_SIGN_IDENTITY = \"\"" >> ios/Flutter/Release.xcconfig
          
      - name: Build iOS
        run: |
          flutter build ios --release --no-codesign --config-only
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload
          
      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/iphoneos/app.ipa
